<form name="copyMoveForm">
  <div class="modal-header modal-warning">
    <h3 class="modal-title" id="modal-title">{{copyMove.action}} to?</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div>Enter the complete destination path for {{copyMoveFileItem.absolutePath}}</div>
    <div>&nbsp;</div>
    <input type="text" class="form-control" ng-model="copyMoveFileItem.newAbsolutePath"
      placeholder="Enter the complete destination path"
      uib-typeahead="name for name in getMatchingAbsolutePaths('', $viewValue)" typeahead-min-length="2"
      typeahead-editable="true" typeahead-show-hint="true" typeahead-template-url="matchingFile.html" required>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="controller.closeCopyMoveToDialog()">Cancel</button>
    <button class="btn btn-warning" type="button" ng-click="controller.copyMoveFileItems()"
      ng-disabled="copyMoveForm.$invalid">{{copyMove.action}}</button>
  </div>
</form>
<script type="text/ng-template" id="matchingFile.html">
<div>
    <span class="typeahead-item" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
</div>
</script>