<div class="modal-header modal-warning">
  <h3 class="modal-title" id="modal-title">Delete?</h3>
</div>
<div class="modal-body" id="modal-body">
  <div>Are you sure you want to delete {{pathsToDelete.length}} file(s)?</div>
  <ul>
    <li ng-repeat="path in pathsToDelete">
      <tt>{{path}}</tt>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="controller.closeDeleteDialog()">Cancel</button>
  <button class="btn btn-warning" type="button" ng-click="controller.deleteFileItems()">Delete</button>
</div>
