<form name="renameForm">
  <div class="modal-header modal-warning">
    <h3 class="modal-title" id="modal-title">Rename?</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div>Enter the new name for {{renameFileItem.absolutePath}}</div>
    <div>&nbsp;</div>
    <input type="text" class="form-control" ng-model="renameFileItem.newName" placeholder="Enter the new filename"
      uib-typeahead="name for name in getMatchingFilenames(path, $viewValue)" typeahead-min-length="2" typeahead-editable="true"
      typeahead-show-hint="true" typeahead-template-url="matchingFile.html" required>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="controller.closeRenameDialog()">Cancel</button>
    <button class="btn btn-warning" type="button" ng-click="controller.renameFileItems()"
      ng-disabled="renameForm.$invalid">Rename</button>
  </div>
</form>
<script type="text/ng-template" id="matchingFile.html">
<div class="disabled" >
    <span class="typeahead-item" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
</div>
</script>