<div id="wfs-header" class="wfs-header ">
    <ng:include src="'/js/navigation/navbar.html'"></ng:include>
</div>
<div id="wfs-content" class="wfs-content" ng-controller="ExplorerController as controller">
    <ng:include src="'/js/explore/toolbar.html'"></ng:include>
    <div ui-grid="treeViewGrid" ng-style="controller.getFlexPanelHeight()" class="grid grid-container col-sm-3"
        ui-grid-tree-view></div>
    <ng:include src="view + '.html'"></ng:include>
    <script type="text/ng-template" id="fileItem.html">
<div ng-right-click="grid.appScope.controller.rightClick($event, row)" >
<div ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }" ui-grid-cell>
</div>
</div>
</script>
    <script type="text/ng-template" id="details.html">
<div ui-grid="fileItemsGrid" ng-style="controller.getFlexPanelHeight()" class="grid col-sm-9" ui-grid-cellNav
  ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter ui-grid-save-state ui-grid-expandable ui-grid-selection></div>
</script>
    <script type="text/ng-template" id="content.html">
<div class="grid col-sm-9" ng-style="controller.getFlexPanelHeight()" >
<table st-table="displayedFileItems" st-safe-src="fileItems" class="table table-striped">
  <thead>
  <tr>
    <th><input type="checkbox" ng-model="select"/></th>
    <th st-sort="name">Name</th>
    <th st-sort="fileItemType">Type</th>
    <th st-sort="lastModifiedTime">Last Modified</th>
    <th st-sort="size" >Size</th>
    <th>&nbsp;</th>
  </tr>
<!--
  <tr>
    <th><input type="checkbox" ng-model="select"/></th>
    <th><input st-search="name" class="input-sm form-control" type="search"/></th>
    <th><input st-search="fileItemType" class="input-sm form-control" type="search"/></th>
    <th><st-date-range predicate="birthDate" before="query.before" after="query.after"></st-date-range></th>
    <th><st-number-range predicate="balance" lower="query.lower" higher="query.higher"></st-number-range></th>
  </tr>
-->
  </thead>
  <tbody>
  <tr st-select-row="fileItem" st-select-mode="multiple" ng-repeat="fileItem in displayedFileItems">
    <td><input type="checkbox" ng-model="select"/></td>
    <td><file-item-name file-item="fileItem" click="controller.clickFileItem(fileItem)"></td>
    <td>{{fileItem.fileItemType | fileType}}</td>
    <td>{{fileItem.lastModifiedTime | friendlyDate}}</td>
    <td>{{fileItem.size | size}}</td>
    <td>ACTIONS</td>
  </tr>
  </tbody>
</table>
</div>
</script>
    <script type="text/ng-template" id="stDateRange.html">
<label>before</label>
<div class="input-group">
  <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="before" is-open="isBeforeOpen"
         close-text="Close"/>
  <span class="input-group-btn"> 
                <button type="button" class="btn btn-default" ng-click="openBefore($event)"><i
                  class="glyphicon glyphicon-calendar"></i></button>
                </span>
</div>
<label>after</label>
<div class="input-group">
  <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="after" is-open="isAfterOpen"
         close-text="Close"/>
  <span class="input-group-btn"> 
                <button type="button" class="btn btn-default" ng-click="openAfter($event)"><i
                  class="glyphicon glyphicon-calendar"></i></button>
                </span>
</div>
</script>
    <script type="text/ng-template" id="stNumberRange.html">
<div class="input-group"><label>lower</label>
  <input class="form-control" type="number" step="100" ng-model="lower"/>
</div>
<div class="input-group"><label>higher</label>
  <input type="number" class="form-control" step="100" ng-model="higher"/>
</div>
</script>
    <script type="text/ng-template" id="fileItemNameDirective.html">
<div class="ui-grid-cell-contents" title="TOOLTIP" ng-switch on="fileItem.fileItemType">
    <div ng-switch-when="FOLDER">
        <i class="fa fa-folder-o"></i><a class="grid-cell-contents-link"
            ng-click="click({fileItem:fileItem})">{{fileItem.name}}</a>
    </div>
    <div ng-switch-when="FILE">
        <a class="grid-cell-contents-link link-icon" ng-click="click({fileItem:fileItem})">{{fileItem.name}}</a>
    </div>
    <div ng-switch-when="SYMLINK">
        <i class="fa fa-external-link"></i>&nbsp; <a class="grid-cell-contents-link"
            ng-click="click({fileItem:fileItem})">{{fileItem.name}}</a>
    </div>
    <div ng-switch-default>
        <span class="fa fa-question-circle-o"></span>{{fileItem.name}}
    </div>
</div>
</script>
    <script type="text/ng-template" id="fileItemName.html">
<div class="ui-grid-cell-contents" title="TOOLTIP" ng-switch on="row.entity.fileItemType">
    <div ng-switch-when="FOLDER">
        <i class="fa fa-folder-o"></i>&nbsp; 
        <a class="grid-cell-contents-link" ng-click="grid.appScope.controller.refreshView(row.entity.absolutePath)">{{COL_FIELD CUSTOM_FILTERS}}</a>
    </div>
    <div ng-switch-when="FILE">
        <a class="grid-cell-contents-link link-icon" ng-href="/api/explorer/get?path={{row.entity.absolutePath | escape}}">{{COL_FIELD CUSTOM_FILTERS}}</a>
    </div>
    <div ng-switch-when="SYMLINK">
        <i class="fa fa-external-link"></i>&nbsp; 
        <a class="grid-cell-contents-link" ng-click="grid.appScope.controller.refreshView(row.entity.absolutePath)">{{COL_FIELD CUSTOM_FILTERS}}</a>
    </div>
    <div ng-switch-default >
        <span class="fa fa-question-circle-o"></span>{{COL_FIELD CUSTOM_FILTERS}}
    </div>
<div uib-dropdown-menu template-url="fileItemActionsDropDown.html"></div>
</div>
</script>
    <script type="text/ng-template" id="folderItemName.html">
<div class="ui-grid-cell-contents" title="TOOLTIP">
    <i class="fa fa-folder-o"></i>&nbsp; 
    <a class="grid-cell-contents-link" href ng-click="grid.appScope.controller.toggleFolderItem(row)">{{COL_FIELD CUSTOM_FILTERS}}</a>
</div>
</script>
    <script type="text/ng-template" id="fileItemActions.html">
<div class="ui-grid-cell-contents">
    <div class="grid-cell-contents-actions" tooltip-placement="left" uib-tooltip="Upload..." ng-click="grid.appScope.controller.openUploadDialog($event, row.entity.absolutePath)"><i class="fa fa-upload"></i></div>
    <div class="grid-cell-contents-actions" tooltip-placement="left" uib-tooltip="Zip & download" ng-click="grid.appScope.controller.downloadFileItems($event, row.entity.absolutePath)"><i class="fa fa-download"></i></div>
    <div class="grid-cell-contents-actions" tooltip-placement="left" uib-tooltip="Copy..." ng-click="grid.appScope.controller.openCopyDialog($event, row.entity.absolutePath)"><i class="fa fa-copy"></i></div>
    <div class="grid-cell-contents-actions" tooltip-placement="left" uib-tooltip="Move..." ng-click="grid.appScope.controller.openMoveDialog($event, row.entity.absolutePath)"><i class="fa fa-share"></i></div>
    <div class="grid-cell-contents-actions" tooltip-placement="left" uib-tooltip="Delete" ng-click="grid.appScope.controller.openDeleteDialog($event, row.entity.absolutePath)"><i class="fa fa-trash-o"></i></div>
    <div class="grid-cell-contents-actions" tooltip-placement="left" uib-tooltip="Properties" ng-click="grid.appScope.controller.openPropertiesDialog($event, row)"><i class="fa fa-info-circle"></i></div>
</div>
</script>
</div>
<div id="dialogAnchor"></div>
<div id="wfs-footer" class="wfs-footer">
    <ng:include src="'/js/navigation/footer.html'"></ng:include>
</div>